.markdownlint.json
.vscode
**/original
presentation/exercise/imgs/**/*.png
presentation/exercise/*.jl
.DS_Store
presentation/imgs/linear-regression/*.svg
!presentation/imgs/linear-regression/1.svg
!presentation/imgs/linear-regression/8.svg
presentation/imgs/losses/*.svg
!presentation/imgs/losses/1.svg
!presentation/imgs/losses/7.svg
presentation/imgs/feature-engineering/*.svg
!presentation/imgs/feature-engineering/1.svg
!presentation/imgs/feature-engineering/5.svg
presentation/code/*.jl
!presentation/code/lm-*.jl
!presentation/code/nn-*.jl
!presentation/code/opt-*.jl
presentation/exercise/*
!presentation/exercise/exercise.md
!presentation/exercise/exercise/exercise.pdf
!presentation/exercise/exercise/cnn-mnist.bson
